@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');
/* font-family: 'Tillana', system-ui; */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
/* font-family: 'Gulzar', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bab8cc; 
}
.container {
    /* width: 46vw; */
    width: 28vw;
    height: 90vh;
    border-radius: 24px;
    box-shadow: 0 0 30px 10px #c8d2df63;
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #7987a0;
}
.content {
    background-color: #b7bfca;
    border-radius: 20px;
    /* width: 26vw; */
    width: 17vw;
    border: 2px solid #7987a0;
}
.head {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #7987a0dc;
    border-radius: 16px 16px 0 0;
    font-family: 'Bad Script', cursive;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
}
.message {
    padding: 4px 20px 4px 20px;
    font-family: 'Gulzar', serif;
    font-weight: normal;
    font-size: 30px;
}
.ok-button {
    padding: 8px;
    border-top: 2px solid #7987A0;
    font-family: 'Bad Script', cursive;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width : 1000px ) {
    .container {
        width: 46vw;
    }
    .content {
        width: 28vw;
    }
    .message {
        font-size: 22px;
    }
}

@media (max-width : 415px ) {
    .container {
        border-radius: 0;
        border: none;
        /* width: 90vw; */
        /* height: 94vh; */
        width: 100vw;
        height: 100vh;
    }
    .content {
        width: 80vw;
    }
    .message {
        font-size: 22px;
    }
}